body {
  margin: 0px;
  height: auto;
  overflow-x: hidden;
}

.overflow-y {
  overflow: hidden;
}

.start-top {
  background-color: black;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.start-top p a {
  color: white;
  letter-spacing: 1px;
  margin-left: 10px;
  font-weight: bold;
}

.pilih-bahasa {
  position: absolute;
  right: 5%;
  background-color: transparent;
  color: white;
  border: none;
}

.pilih-bahasa option {
  background-color: black;
  color: white;
}

.dropdown {
  background-color: #f0f3f7;
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 99%;
  transition: 1s;
}

.dropanimate {
  height: 1200px;
}

.resLogReg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 80px;
}

.resLogReg button {
  background-color: transparent;
  height: 50px;
  width: 200px;
  margin: 0px 10px 0px 0px;
  border: #00ff66 solid 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  color: #00ff66;
  letter-spacing: 1px;
  cursor: pointer;
}

.resLogReg button:active {
  opacity: 0.7;
}

.resLogReg button:nth-child(1) {
  color: white;
  border: none;
  background-color: #00ff66;
}

.resnav-content {
  background-color: white;
  width: 100%;
  margin-top: 10px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.resnav-content p i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.resnav-content p a {
  color: black;
  text-decoration: none;
  font-size: larger;
}

.resnav-info {
  background-color: white;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resnav-info p {
  text-align: center;
  margin: 0px;
}

.resnav-info p a {
  color: black;
}

.navres,
.mnavbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid rgba(172, 160, 160, 0.5) 1px;
}

.mnavbar {
  position: sticky;
  top: 0;
  background-color: white;
}

.three-line {
  height: 40px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.three-line div {
  border: solid black 2px;
  border-radius: 20px;
  width: 60%;
}

.nav-list {
  width: 550px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.nav-list p a {
  color: black;
  text-decoration: none;
  transition: 0.15s;
  font-size: larger;
}

.nav-list p a:hover {
  border-bottom: solid black 2px;
  padding-bottom: 1px;
}

.nav-extra {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
}

.nav-ext-bot {
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 240px;
  position: absolute;
  height: 0px;
  overflow-x: hidden;
  transition: 0.7s;
  right: 15%;
}

.searchUp {
  height: 300px;
}

.nav-ext-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searching {
  height: 36px;
  width: 230px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-slide3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.product-search {
  height: 60px;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 5px;
  transition: 0.15s;
}

.product-search:hover {
  border: solid black 1px;
  transform: scale(1.1, 1.1);
}

.ps-left {
  height: 100%;
  width: 80px;
}

.ps-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ps-right {
  height: 100%;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-right p {
  margin: 0px;
  font-size: small;
}

.ps-right > p:first-child {
  font-weight: bold;
}

.ps-right > img:nth-child(2) {
  width: 70px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.searching:focus {
  outline: none;
}

.search-icon {
  position: relative;
  right: 50px;
  z-index: 1;
}
.icon-extra {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

.user-icon {
  width: 40px;
  height: 38px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.user-icon-dropdown {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 0px;
  overflow: hidden;
  right: 0%;
  position: absolute;
  background-color: rgb(128, 128, 128);
  transition: 0.7s;
  border-radius: 5px;
}

.transition-user-icon {
  height: 170px;
}

.drop-user-content {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 85%;
  transition: 0.15s;
}

.drop-user-content p {
  margin-left: 5px;
  color: white;
  font-size: 15px;
}

.user-photo-dropdown {
  object-fit: contain;
  width: 35px;
}

.drop-user-content:hover {
  transform: scale(1.2, 1.2);
  margin-left: 30px;
}

.account-setting-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.left-part {
  width: 300px;
  height: 400px;
}

.left-part > :nth-child(3) {
  width: 300px;
}

.top-title {
  display: flex;
  align-items: center;
}

.top-title img {
  margin-right: 20px;
}

.line {
  border: solid rgb(209, 209, 209) 1px;
  width: 100%;
  margin: 20px 0 20px 0;
}

.right-part {
  width: 750px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form input:focus {
  outline: none;
}

.three-input-top {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.three-input-top input {
  height: 40px;
  width: 200px;
  border: none;
  background-color: #eceaea;
  padding-left: 10px;
  border-radius: 5px;
}

.keluhan {
  width: 88%;
  background-color: #eceaea;
  border: none;
  height: 250px;
  font-size: large;
  padding: 10px 0 0 10px;
  margin-top: 15px;
  resize: none;
}

.keluhan:focus {
  outline: none;
}

.btnForm {
  margin-top: 15px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btnForm button:first-child {
  background-color: transparent;
  color: black;
  border: none;
  font-size: large;
  cursor: pointer;
}

.btnForm button:not(:first-child) {
  height: 40px;
  cursor: pointer;

  margin-left: 15px;
  width: 150px;
  background-color: #db4444;
  border: none;
  color: white;
}

.mfooter {
  background-color: black;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.footer-holder {
  height: 300px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content {
  width: 220px;
  height: 85%;
  color: white;
}

.footer-content:nth-child(4) p:nth-child(1),
.footer-content:nth-child(3) p:nth-child(1),
.footer-content:nth-child(2) p:nth-child(1),
.footer-content:nth-child(1) p:nth-child(1) {
  margin-top: 0px;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.footer-content:nth-child(1) p:nth-child(2) {
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-content:nth-child(2) p:nth-child(4),
.footer-content:nth-child(2) p:nth-child(3),
.footer-content:nth-child(2) p:nth-child(2),
.footer-holder .footer-content:nth-child(1) p:nth-child(3) {
  margin: 0px;
  margin-bottom: 10px;
}

.submit-code {
  display: flex;
  align-items: center;
  justify-content: start;
}

.submit-code input {
  height: 38px;
  width: 200px;
  background-color: transparent;
  border: solid white 1px;
  font-weight: bold;
  color: white;
}

.submit-code img {
  margin-left: -30px;
}

.source-download {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.qr-code {
  height: 100%;
  width: 100px;
}

.link-download {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-to-download {
  height: 45%;
}

.link-to-download img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-media-icon img,
.qr-code img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.social-media {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sosial-media-icon {
  width: 30px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 435px) {
  .navres {
    height: 50px;
  }

  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  body {
  }
  .list-produk {
    display: none;
  }
  .mnavbar {
    display: none;
  }

  .searching {
    width: 170px;
  }

  .three-input-top {
    flex-direction: column;
    height: 160px;
  }

  .three-input-top input {
    width: 95%;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 50%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .footer-content:nth-child(1) img:nth-child(5) {
    position: absolute;
    margin: 0px;
    margin-top: -30px;
    margin-left: 170px;
  }

  .submit-code input {
    width: 150px;
  }
}

@media only screen and (min-width: 435px) {
  .navres {
    height: 65px;
  }

  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: none;
  }
  .mnavbar {
    display: none;
  }

  .three-input-top {
    flex-direction: column;
    height: 160px;
  }

  .three-input-top input {
    width: 98%;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 50%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .footer-content:nth-child(1) img:nth-child(5) {
    position: absolute;
    margin: 0px;
    margin-top: -30px;
    margin-left: 170px;
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .navres {
    height: 65px;
  }
  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: none;
  }

  .three-input-top {
    flex-direction: row;
    height: auto;
  }

  .three-input-top input {
    width: 30%;
  }

  .left-part {
    display: flex;
    width: 90%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 30px;
  }

  .line {
    display: none;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 30%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .new-right-bottom {
    width: 100%;
  }

  .arrival-product-bottom {
    width: 50%;
  }

  .arrival-product-bottom img {
    width: 100%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 770px) {
  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .three-input-top {
    flex-direction: row;
    height: auto;
  }

  .three-input-top input {
    width: 30%;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 30%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .start-top {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .left-part {
    display: block;
    width: 20%;
    height: 400px;
    align-items: start;
    margin-left: 0px;
  }

  .three-input-top {
    flex-direction: row;
    height: auto;
  }

  .three-input-top input {
    width: 30%;
  }

  .line {
    display: block;
  }

  .mfooter {
    height: 300px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .footer-content:nth-child(5) {
    width: 20%;
  }

  .source-download {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .qr-code {
    height: 100%;
    width: 100px;
  }

  .link-download {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-to-download {
    height: 45%;
  }

  .link-to-download img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .social-media-icon img,
  .qr-code img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .social-media {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sosial-media-icon {
    width: 30px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .start-top {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .mfooter {
    height: 300px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .footer-content:nth-child(5) {
    width: 20%;
  }

  .source-download {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .qr-code {
    height: 100%;
    width: 100px;
  }

  .link-download {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-to-download {
    height: 45%;
  }

  .link-to-download img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .social-media-icon img,
  .qr-code img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .social-media {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sosial-media-icon {
    width: 30px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}
