body {
  margin: 0px;
  height: auto;
  overflow-x: hidden;
}

.overflow-y {
  overflow: hidden;
}

.start-top {
  background-color: black;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.start-top p a {
  color: white;
  letter-spacing: 1px;
  margin-left: 10px;
  font-weight: bold;
}

.pilih-bahasa {
  position: absolute;
  right: 5%;
  background-color: transparent;
  color: white;
  border: none;
}

.pilih-bahasa option {
  background-color: black;
  color: white;
}

.dropdown {
  background-color: #f0f3f7;
  height: 0px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 99%;
  transition: 1s;
}

.dropanimate {
  height: 1200px;
}

.resLogReg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 80px;
}

.resLogReg button {
  background-color: transparent;
  height: 50px;
  width: 200px;
  margin: 0px 10px 0px 0px;
  border: #00ff66 solid 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  color: #00ff66;
  letter-spacing: 1px;
  cursor: pointer;
}

.resLogReg button:active {
  opacity: 0.7;
}

.resLogReg button:nth-child(1) {
  color: white;
  border: none;
  background-color: #00ff66;
}

.resnav-content {
  background-color: white;
  width: 100%;
  margin-top: 10px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.resnav-content p i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.resnav-content p a {
  color: black;
  text-decoration: none;
  font-size: larger;
}

.resnav-info {
  background-color: white;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resnav-info p {
  text-align: center;
  margin: 0px;
}

.resnav-info p a {
  color: black;
}

.navres,
.mnavbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid rgba(172, 160, 160, 0.5) 1px;
}
.three-line {
  height: 40px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.three-line div {
  border: solid black 2px;
  border-radius: 20px;
  width: 60%;
}

.nav-list {
  width: 550px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.nav-list p a {
  color: black;
  text-decoration: none;
  transition: 0.15s;
  font-size: larger;
}

.nav-list p a:hover {
  border-bottom: solid black 2px;
  padding-bottom: 1px;
}

.nav-extra {
  height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
}

.nav-ext-bot {
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 240px;
  right: 15%;
  position: absolute;
  height: 0px;
  overflow-x: hidden;
  transition: 0.7s;
}

.searchUp {
  height: 300px;
}

.nav-ext-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searching {
  height: 36px;
  width: 230px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-slide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.product-search {
  height: 60px;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 5px;
  transition: 0.15s;
}

.product-search:hover {
  border: solid black 1px;
  transform: scale(1.1, 1.1);
}

.ps-left {
  height: 100%;
  width: 80px;
}

.ps-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ps-right {
  height: 100%;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-right p {
  margin: 0px;
  font-size: small;
}

.ps-right > p:first-child {
  font-weight: bold;
}

.ps-right > img:nth-child(2) {
  width: 70px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.searching:focus {
  outline: none;
}

.search-icon {
  position: relative;
  right: 50px;
  z-index: 1;
}

.icon-extra {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}
.user-icon {
  width: 40px;
  height: 38px;
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.user-icon-dropdown {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 0px;
  right: 0%;
  overflow: hidden;
  position: absolute;
  background-color: rgb(128, 128, 128);
  transition: 0.7s;
  border-radius: 5px;
}

.transition-user-icon {
  height: 170px;
}

.drop-user-content {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 85%;
  transition: 0.15s;
}

.drop-user-content p {
  margin-left: 5px;
  color: white;
  font-size: 15px;
}

.user-photo-dropdown {
  object-fit: contain;
  width: 35px;
}

.drop-user-content:hover {
  transform: scale(1.2, 1.2);
  margin-left: 30px;
}

.detail-container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.detail-img {
  width: 850px;
  height: 90%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.right-img {
  width: 70%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #f5f5f5;
}

.right-img img {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.left-img {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.box-detail {
  height: 150px;
  background-color: #f5f5f5;
  display: grid;
  place-items: center;
  width: 100%;
}

.box-detail img {
  width: 55%;
  height: 65%;
  object-fit: contain;
}

.detail-info {
  width: 400px;
  height: 90%;
}

.detail-info h2,
.detail-info h1,
.detail-info p {
  margin: 0px;
}

.ratenOther {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ratenOther p:nth-child(2) {
  margin: 0px 10px 0 10px;
  color: #8f8f8f;
}

.ratenOther p:nth-child(3) {
  margin: 0 10px 0 0px;
  font-weight: bolder;
  font-size: larger;
}

.ratenOther p:last-child {
  color: #00ff66;
}

.price {
  letter-spacing: 1px;
  font-size: x-large;
}

.line {
  border: solid #cacaca 1px;
  border-radius: 5px;
  width: 100%;
  margin-top: 40px;
}

.colours {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 37%;
}

.colours p {
  font-size: x-large;
}

.colorProduct {
  display: flex;
}

.defaultColor {
  margin: 0px 15px 0px 0px;
  border-radius: 100%;
  border: solid black 1px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.15s;
}

.defaultColor:hover {
  outline: solid black 2px;
  outline-offset: 2px;
}

.outlineTransition {
  outline: solid black 2px;
  outline-offset: 2px;
}

.sizes-holder {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 400px;
}

.sizes {
  display: flex;
  align-items: start;
  justify-content: start;
}

.sizes-holder > :first-child {
  font-size: x-large;
}

.boxSizes {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.boxS {
  border: solid black 1px;
  width: 40px;
  height: 80%;
  border-radius: 7px;
  transition: 0.15s;
  display: grid;
  place-items: center;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.animateBoxs {
  background-color: #db4444;
  color: white;
  border: none;
}

.boxS:hover {
  background-color: #db4444;
  color: white;
  border: none;
}

.action-idd {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;
  margin-top: 15px;
}

.increment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: auto;
  border: solid #cacaca 1px;
  border-radius: 5px;
}

.increase,
.decrease {
  width: 40px;
  height: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.decrease {
  border-right: solid #cacaca 1px;
}

.increase {
  border-left: solid #cacaca 1px;
}

.decrease:hover,
.increase:hover {
  background-color: #db4444;
}

.decrease:hover i,
.increase:hover i {
  color: white;
}

.display-increment {
  width: 75px;
  height: 100%;
  display: grid;
  place-items: center;
}

#BeliBtn {
  border: none;
  background-color: #db4444;
  color: white;
  height: 90%;
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.lope {
  border: solid black 1px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.lope i {
  font-size: 23px;
  transition: 0.15s;
}

.lope:hover i {
  color: red;
  transform: scale(1.2, 1.2);
}

.offer-services {
  margin-top: 35px;
  height: auto;
  border: solid #cacaca 1px;
  border-radius: 5px;
}

.offer-services > :first-child {
  border-bottom: solid #cacaca 1px;
}

.ofs-box {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
}

.ofs-box img {
  margin-left: 15px;
  margin-right: 15px;
}

.keterangan-services p:nth-child(1) {
  font-size: large;
  font-weight: bold;
}

.keterangan-services p:nth-child(2) a {
  color: black;
}

.related-product-container {
  height: 600px;
  display: grid;
  place-items: center;
}

.related {
  width: 94%;
  height: 80%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}

.this-month {
  display: flex;
  align-items: center;
}

.this-month p {
  margin-left: 10px;
  font-size: large;
  color: #db4444;
  font-weight: bold;
}

.red-mark {
  background-color: #db4444;
  height: 40px;
  width: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rltd-container {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rltd-card {
  height: 92%;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.top {
  border-radius: 5px;
  width: 100%;
  height: 230px;
  background-color: #aeaeae;
  background-image: url("/src/exploreimg/ps5red.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.rltd-top {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.rltd-bottom {
  width: 100%;
  display: grid;
  place-items: center;
}

.discount {
  background-color: #db4444;
  width: 65px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
  display: grid;
  place-items: center;
  margin-left: 5px;
}

.discount p {
  margin: 0px;
  color: white;
  letter-spacing: 1px;
}

.action {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 70px;
  justify-content: space-around;
  margin-right: 5px;
}

.action i {
  margin: 0px;
}

.icon-container {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.overlay-bottom {
  background-color: black;
  height: 30px;
  overflow: hidden;
  width: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  transition: 0.15s;
}

.animate-ovrbottom {
  height: 30px;
}

.overlay-bottom p {
  margin: 0px;
  color: white;
}

.bs-pricing p {
  display: inline;
  color: black;
  margin: 0px 15px 0px 0px;
}

.bs-pricing p:nth-child(2) {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.603);
}

.bs-rate {
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: flex;
  align-items: center;
}

.bs-rate img {
  height: 20px;
  margin-right: 10px;
}

.mfooter {
  background-color: black;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-holder {
  height: 300px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content {
  width: 220px;
  height: 85%;
  color: white;
}

.footer-content:nth-child(4) p:nth-child(1),
.footer-content:nth-child(3) p:nth-child(1),
.footer-content:nth-child(2) p:nth-child(1),
.footer-content:nth-child(1) p:nth-child(1) {
  margin-top: 0px;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

.footer-content:nth-child(1) p:nth-child(2) {
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer-content:nth-child(2) p:nth-child(4),
.footer-content:nth-child(2) p:nth-child(3),
.footer-content:nth-child(2) p:nth-child(2),
.footer-holder .footer-content:nth-child(1) p:nth-child(3) {
  margin: 0px;
  margin-bottom: 10px;
}

.submit-code {
  display: flex;
  align-items: center;
  justify-content: start;
}

.submit-code input {
  height: 38px;
  width: 200px;
  background-color: transparent;
  border: solid white 1px;
  font-weight: bold;
  color: white;
}

.submit-code img {
  margin-left: -30px;
}

.source-download {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.qr-code {
  height: 100%;
  width: 100px;
}

.link-download {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-to-download {
  height: 45%;
}

.link-to-download img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-media-icon img,
.qr-code img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.social-media {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sosial-media-icon {
  width: 30px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 435px) {
  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  body {
  }
  .list-produk {
    display: none;
  }
  .mnavbar {
    display: none;
  }

  .searching {
    width: 170px;
  }

  .rltd-container > :last-child {
    display: none;
  }

  .detail-container {
    height: auto;
    justify-content: start;
    width: 100%;
  }

  .detail-img {
    flex-direction: column-reverse;
  }

  .left-img {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 230px;
  }

  .box-detail {
    height: 110px;
    width: 49%;
  }

  .right-img {
    width: 100%;
    margin-bottom: 5px;
  }

  .detail-info {
    width: 100%;
  }

  .detail-description-ext,
  .detail-description {
    padding-left: 5px;
  }

  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 1200px;
    margin-top: 50px;
  }

  .related {
    justify-content: start;
  }

  .rltd-container {
    justify-content: space-evenly;
  }

  .colours {
    width: 100%;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 50%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .footer-content:nth-child(1) img:nth-child(5) {
    position: absolute;
    margin: 0px;
    margin-top: -30px;
    margin-left: 170px;
  }

  .submit-code input {
    width: 150px;
  }
}

@media only screen and (min-width: 435px) {
  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: none;
  }
  .mnavbar {
    display: none;
  }

  .rltd-container > :last-child {
    display: none;
  }

  .detail-container {
    height: auto;
    justify-content: start;
    width: 100%;
  }

  .detail-img {
    flex-direction: column-reverse;
  }

  .left-img {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 230px;
  }

  .box-detail {
    height: 110px;
    width: 49%;
  }

  .right-img {
    width: 100%;
    margin-bottom: 5px;
  }

  .detail-info {
    width: 100%;
  }

  .detail-description-ext,
  .detail-description {
    padding-left: 5px;
  }

  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 1200px;
    margin-top: 50px;
  }

  .related {
    justify-content: start;
  }

  .rltd-container {
    justify-content: center;
  }

  .colours {
    width: 215px;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 50%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .footer-content:nth-child(1) img:nth-child(5) {
    position: absolute;
    margin: 0px;
    margin-top: -30px;
    margin-left: 170px;
  }
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .start-top {
    display: none;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: none;
  }

  .rltd-container > :nth-child(3),
  .rltd-container > :first-child {
    margin-right: 10px;
  }
  .rltd-container > :last-child {
    display: flex;
  }

  .detail-container {
    height: auto;
    justify-content: start;
    width: 100%;
  }

  .detail-img {
    flex-direction: column-reverse;
  }

  .left-img {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 320px;
  }

  .box-detail {
    height: 150px;
    width: 49%;
  }

  .right-img {
    width: 100%;
    margin-bottom: 5px;
  }

  .detail-info {
    width: 100%;
  }

  .detail-description-ext,
  .detail-description {
    padding-left: 5px;
  }

  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 850px;
    margin-top: 50px;
  }

  .related {
    justify-content: start;
  }

  .rltd-container {
    justify-content: center;
  }

  .colours {
    width: 215px;
  }

  .action-idd {
    justify-content: center;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 30%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }

  .new-right-bottom {
    width: 100%;
  }

  .arrival-product-bottom {
    width: 50%;
  }

  .arrival-product-bottom img {
    width: 100%;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 770px) {
  .start-top {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .rltd-card {
    margin: 0 10px 0 0;
  }

  .rltd-container > :last-child {
    display: flex;
  }

  .detail-container {
    height: auto;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
  }

  .detail-img {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 550px;
  }

  .line {
    width: 99%;
  }

  .left-img {
    flex-direction: column;
    width: 20%;
    flex-wrap: nowrap;
    height: 100%;
  }

  .box-detail {
    height: 130px;
    width: 100%;
  }

  .right-img {
    width: 79%;
    margin-bottom: 5px;
  }

  .detail-info {
    width: 100%;
  }

  .detail-description-ext,
  .detail-description {
    padding-left: 5px;
  }

  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 850px;
    margin-top: 50px;
  }

  .related {
    justify-content: start;
  }

  .rltd-container {
    justify-content: center;
  }

  .colours {
    width: 215px;
  }

  .action-idd {
    justify-content: center;
  }

  .mfooter {
    height: 800px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .footer-content:nth-child(5) {
    width: 90%;
  }

  .link-download {
    width: 30%;
  }

  .link-to-download {
    width: 100%;
  }

  .link-to-download img {
    width: 100%;
    object-fit: fill;
  }

  .qr-code {
    width: 150px;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .start-top {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .rltd-card {
    margin: 0 10px 0 0;
  }

  .rltd-container > :last-child {
    display: flex;
  }

  .detail-container {
    height: 650px;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    flex-wrap: nowrap;
  }

  .detail-img {
    flex-direction: row;
    justify-content: space-evenly;
    width: 850px;
    height: 100%;
  }

  .line {
    width: 99%;
  }

  .left-img {
    flex-direction: column;
    width: 20%;
    flex-wrap: nowrap;
    height: 100%;
  }

  .box-detail {
    height: 140px;
    width: 100%;
  }

  .right-img {
    width: 70%;
    margin-bottom: 0px;
  }

  .detail-info {
    width: 500px;
  }

  .detail-description-ext,
  .detail-description {
    padding-left: 5px;
  }

  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 800px;
    margin-top: 50px;
  }

  .related {
    justify-content: start;
  }

  .rltd-container {
    justify-content: center;
  }

  .colours {
    width: 220px;
  }

  .action-idd {
    justify-content: start;
  }

  .mfooter {
    height: 300px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .footer-content:nth-child(5) {
    width: 20%;
  }

  .source-download {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .qr-code {
    height: 100%;
    width: 100px;
  }

  .link-download {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-to-download {
    height: 45%;
  }

  .link-to-download img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .social-media-icon img,
  .qr-code img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .social-media {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sosial-media-icon {
    width: 30px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1320px) {
  .related-product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 500px;
    margin-top: 50px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .start-top {
    display: flex;
  }

  .dropdown {
    width: 100%;
  }

  .list-produk {
    display: flex;
  }
  .mnavbar {
    display: flex;
  }

  .navres {
    display: none;
  }

  .mfooter {
    height: 300px;
    align-items: start;
    padding-top: 50px;
  }

  .footer-content {
    align-items: center;
    justify-content: center;
    width: 15%;
  }

  .footer-content:nth-child(5) {
    width: 20%;
  }

  .source-download {
    height: 100px;
    display: flex;
    justify-content: space-between;
  }

  .qr-code {
    height: 100%;
    width: 100px;
  }

  .link-download {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-to-download {
    height: 45%;
  }

  .link-to-download img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .social-media-icon img,
  .qr-code img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .social-media {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sosial-media-icon {
    width: 30px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .footer-holder {
    flex-wrap: wrap;
  }
}
